.header {
	style = background-color: #FFF; 
	margin:0; padding:2vw; 
	background-image:url('stars.png');
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center; font-size: 5vw;
	color:rgba(255,255,255,0.8); 
	margin:0; border-style: solid; 
	border-color:rgba(255,255,255,0.6);
}
body{
	background-color: #141517;
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 0px;
}

.card {
	background-color: white;
	padding: 20px;
	margin:20px;
}

.leftColumn{
	float:left;
	width:75%;
}
.rightColumn{
	float:right; 
	width:25%;
	background-color: black;
	height: 100%;
}

.title{
	color:white;
	font-size: 30px;
	text-align: center;
}